body {
    background-image: url('https://scontent.fgau3-6.fna.fbcdn.net/v/t39.30808-6/417508298_7130158933718770_3894937786283034268_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=127cfc&_nc_ohc=Q4LqcZ4dP1gQ7kNvgEgyKl2&_nc_ht=scontent.fgau3-6.fna&oh=00_AYBeZ1GnJnb9R0mZ2Pcvo-VdufTgRHEwXWDl9AD8t8W9vg&oe=668D87C4.jpg');
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    font-family: Arial, sans-serif; /* Example of additional styles */
    color: #333; /* Example of additional styles */
}
