body {
    background-image: url('https://www.facebook.com/photo?fbid=7130158973718766&set=pcb.7130159047052092');
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    font-family: Arial, sans-serif; /* Example of additional styles */
    color: #333; /* Example of additional styles */
}
